extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- name.
        h1 Anne Brown

        //- title
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- elevator pitch.
        .portfolio-bio
          p
            | I'm an aspiring JavaScript developer with a strong work ethic. I don't believe in giving up and I'm a fast learner. 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- skills
        ul
          li JavaScript
          li Express
          li Pug
          li jQuery
          li HTML
          li CSS 
          li German
        h6 Contact Info

        //- contact info omitted for now
        ul
          li 555-555-5555
          li email@email.com

        //- links to social media, I don't have a twitter account so I commented that out
        a.button.expanded(href='https://www.linkedin.com/in/anneelisabethbrown/', target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/anneebrown', target="_blank") GitHub
        //-a.button.expanded(href='') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  